In [ ]:
# Extracted from https://www.investing.com/commodities/high-oil-content-sunflower-seed-historical-data

In [3]:
# Extracted from https://www.investing.com/commodities/high-oil-content-sunflower-seed-historical-data

import pandas as pd
import datetime

#Clean import High Oil Content Sunflower Seed Futures Historical Data.csv

# Read the data from the file
df_futures_sunflower_seed = pd.read_csv('futures_data/High Oil Content Sunflower Seed Futures Historical Data.csv')

# Rename the 'date' column to 'TIME_PERIOD'
df_futures_sunflower_seed.rename(columns={'Date': 'TIME_PERIOD', 'Price': 'Corn Price Futures'}, inplace=True)

df_futures_sunflower_seed['TIME_PERIOD'] = pd.to_datetime(df_futures_sunflower_seed['TIME_PERIOD'], format='%d/%m/%Y')
df_futures_sunflower_seed['TIME_PERIOD'] = df_futures_sunflower_seed['TIME_PERIOD'].dt.strftime('%Y/%m/%d')

df_futures_sunflower_seed.drop(columns=['Open','High','Low','Vol.','Change %'], inplace=True)

df_futures_sunflower_seed

    TIME_PERIOD Corn Price Futures
0    2022/01/10            259,000
1    2022/01/09            267,000
2    2022/01/08            265,000
3    2022/01/07            262,000
4    2022/01/06            267,000
..          ...                ...
134  2007/01/02             54,500
135  2007/01/01             54,500
136  2006/01/12             54,500
137  2006/01/11             52,000
138  2006/01/10             49,200

[139 rows x 2 columns]

In [2]:
df_futures_sunflower_seed

           Date    Price     Open     High      Low   Vol. Change %
0    10/01/2022  259,000  259,000  259,000  259,000  0.03K   -3.00%
1    09/01/2022  267,000  268,000  268,000  267,000  0.04K    0.75%
2    08/01/2022  265,000  265,000  265,000  265,000  0.02K    1.15%
3    07/01/2022  262,000  259,000  262,000  259,000  0.01K   -1.87%
4    06/01/2022  267,000  270,000  270,000  270,000  0.02K   44.32%
..          ...      ...      ...      ...      ...    ...      ...
134  02/01/2007   54,500   54,500   54,500   54,500    NaN    0.00%
135  01/01/2007   54,500   54,500   54,500   54,500    NaN    0.00%
136  12/01/2006   54,500   54,500   54,500   54,500    NaN    4.81%
137  11/01/2006   52,000   51,000   52,800   51,000  0.01K    5.69%
138  10/01/2006   49,200   49,200   49,200   49,200  0.02K   -6.12%

[139 rows x 7 columns]