In [13]:
import pandas as pd
import datetime


# Read in the original dataframe
df = pd.read_excel('macroeconomic_data/Macro_Economic_Indicators.xlsx')

# drop the last 5 rows
df = df.drop(df.tail(5).index)
df

,country_name,country_code,year,timecode,gdp_current_us,gdp_constant_2015_us,population_total,unemployment_total,agricultural_land,renewable_energy_consumption_perc_of_total,energy_use_kg_of_oil_equivalent_per_capita,fossil_fuel_energy_consumption_perc_of_total
0,Argentina,ARG,2005.0,YR2005,198737095012.281647,435296589745.338806,39070501,11.51,1299209,9.64,1712.85349,89.053284
1,Argentina,ARG,2006.0,YR2006,232557260817.307709,470325565798.352661,39476851,10.08,1301389,9.18,1844.265162,88.653228
2,Argentina,ARG,2007.0,YR2007,287530508430.567993,512690850741.560486,39876111,8.47,1299684,7.72,1849.452796,89.225378
3,Argentina,ARG,2008.0,YR2008,361558037110.41925,533491913656.278625,40273769,7.84,1270469,7.65,1928.326599,90.651789
4,Argentina,ARG,2009.0,YR2009,332976484577.618896,501917060966.235107,40684338,8.65,1243284,8.59,1856.096393,89.611993
...,...,...,...,...,...,...,...,...,...,...,...,...
4517,World,WLD,2017.0,YR2017,81400670239258.890625,79910967620296.859375,7578157615,5.567802,47594035.118,..,..,..
4518,World,WLD,2018.0,YR2018,86456888252044.265625,82536472389713,7661776338,5.897223,47441011.016,..,..,..
4519,World,WLD,2019.0,YR2019,87645255635476.484375,84675231957900.828125,7742681934,5.818479,47457328.403,..,..,..
4520,World,WLD,2020.0,YR2020,85105603606117.140625,82037256341076.671875,7820981524,..,47388929.172,..,..,..
4521,World,WLD,2021.0,YR2021,96513077364367.921875,86852662217901.4375,7888408686,..,..,..,..,..

In [17]:
# Convert the 'year' column to datetime format
df['year'] = pd.to_datetime(df['year'], format='%Y')

# Set the 'year' column as the index
df.set_index('year', inplace=True)

# Resample the data by month and interpolate missing values
df_monthly = df.resample('M').interpolate()

# Reset the index to include the 'year' column as a regular column
df_monthly = df_monthly.reset_index()

# Rename the 'year' column to 'date'
df_monthly = df_monthly.rename(columns={'year': 'date'})

# Add a new column for the day, set to the first of the month
df_monthly['day'] = pd.to_timedelta(1, unit='D')

# Combine the 'date' and 'day' columns to create a new datetime column
df_monthly['datetime'] = df_monthly['date'] + df_monthly['day']

# Drop the 'date' and 'day' columns
df_monthly = df_monthly.drop(['date', 'day'], axis=1)

KeyError: 'year'

In [16]:
df

,country_name,country_code,timecode,gdp_current_us,gdp_constant_2015_us,population_total,unemployment_total,agricultural_land,renewable_energy_consumption_perc_of_total,energy_use_kg_of_oil_equivalent_per_capita,fossil_fuel_energy_consumption_perc_of_total
year,,,,,,,,,,,
2005-01-01,Argentina,ARG,YR2005,198737095012.281647,435296589745.338806,39070501,11.51,1299209,9.64,1712.85349,89.053284
2006-01-01,Argentina,ARG,YR2006,232557260817.307709,470325565798.352661,39476851,10.08,1301389,9.18,1844.265162,88.653228
2007-01-01,Argentina,ARG,YR2007,287530508430.567993,512690850741.560486,39876111,8.47,1299684,7.72,1849.452796,89.225378
2008-01-01,Argentina,ARG,YR2008,361558037110.41925,533491913656.278625,40273769,7.84,1270469,7.65,1928.326599,90.651789
2009-01-01,Argentina,ARG,YR2009,332976484577.618896,501917060966.235107,40684338,8.65,1243284,8.59,1856.096393,89.611993
...,...,...,...,...,...,...,...,...,...,...,...
2017-01-01,World,WLD,YR2017,81400670239258.890625,79910967620296.859375,7578157615,5.567802,47594035.118,..,..,..
2018-01-01,World,WLD,YR2018,86456888252044.265625,82536472389713,7661776338,5.897223,47441011.016,..,..,..
2019-01-01,World,WLD,YR2019,87645255635476.484375,84675231957900.828125,7742681934,5.818479,47457328.403,..,..,..
2020-01-01,World,WLD,YR2020,85105603606117.140625,82037256341076.671875,7820981524,..,47388929.172,..,..,..
2021-01-01,World,WLD,YR2021,96513077364367.921875,86852662217901.4375,7888408686,..,..,..,..,..